<div class="card p-4 shadow-sm">
  <h5 class="mb-3">Créer une commande</h5>

  <!-- USER -->
  <div class="mb-3">
    <label class="form-label fw-semibold">Client</label>
    <select class="form-select" [(ngModel)]="selectedUserId" name="user">
  <option [ngValue]="null" disabled>Choisir un utilisateur</option>
  <option *ngFor="let u of users" [ngValue]="u.id">
    {{ u.firstName }} {{ u.lastName }}
  </option>
</select>
  </div>

  <!-- PRODUITS -->
  <div class="mb-3">
    <label class="form-label fw-semibold">Produits</label>
    <select class="form-select" multiple (change)="onProductSelect($event)">
      <option *ngFor="let p of products" [value]="p.id">
        {{ p.nameProduct }} - {{ p.price }} DT
      </option>
    </select>
    <small class="text-muted">Maintenez CTRL pour sélectionner plusieurs produits</small>
  </div>

  <!-- ACTION -->
  <button class="btn btn-warning w-100 mt-3" (click)="save()">
    💾 Créer commande
  </button>
</div>
